@{
    ViewData["Title"] = "Доставка";
}

<div class="container my-5">
    <h1 class="mb-4">Доставка</h1>

    <!-- Первая таблица: основной маршрут -->
    <h2 class="h4 mb-3">Маршрут по Свердловской, Челябинской, Тюменской, Пермской, Курганской областях</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Дни Недели</th>
                    <th>Населенные пункты</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Понедельник</td>
                    <td>Богданович, Камышлов, р.п. Пышма, Н-Тагил, Невьянск, Кировград, , Новоуральск, Тюмень, п. Тугулым, Пермь, Асбест, Заречный, Сухой лог.</td>
                </tr>
                <tr>
                    <td>Вторник</td>
                    <td>Курган, Каменск-Уральский, с. Покровское, Арамиль, Сысерть, , Богданович, Камышлов, р.п. Пышма, Талица, п.Троицкий, п. Будка, Челябинск, Н. Тагил,  В. Салда, Н.Салда, Серов, Краснотурьинск, Карпинск, Красноуфимск, Нижние Серьги, Михайловск, п. Бисерть, п.Арти, Магнитогорск, Аргаяш, Южноуральск, еманжелинск, Кыштым, Коркино, Долгодеревенское, Копейск, Троицк, Новая Ляля, Верхотурье, Лобва.</td>
                </tr>
                <tr>
                    <td>Среда</td>
                    <td>Тюмень, п. Тугулы, Кушва, Красноуральск,  Верняя Тура, Нижняя Тура, Лесной, Первоуральск, Ревда, Полевской, Челябинск, Копейск.</td>
                </tr>
                <tr>
                    <td>Четверг</td>
                    <td>Челябинск, Магнитогорск, Богданович, Камышлов, р.п. Пышма,  Н. Тагил, Невьянск, Салда,  Новоуральск, Реж, Артемовский, Алапаевск, Пермь</td>
                </tr>
                <tr>
                    <td>Пятница</td>
                    <td>Каменск-Уральский, с. Покровское, Арамиль, Сысерть, Первоуральск, Ревда, Полевской, Красноуфимск, Нижние Серьги, Арти, Бисерть, Михайловск, Н. Тагил, Кушва, Красноуральск, В.Тура, Н.Тура, Лесной, Челябинск, Копейск.</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Вторая таблица: Северное направление -->
    <h2 class="h4 mb-3 mt-5">Северное направление</h2>
    <div class="table-responsive">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Дни Недели</th>
                    <th>Населенные пункты</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Среда</td>
                    <td>Советский, Югорск, Урай, Междуреченский, Мортка</td>
                </tr>
                <tr>
                    <td>Четверг-Пятница</td>
                    <td>Сургут, Нефтеюганск, Пыть-ях, Пойковский, п. Салым, Лангепас, Мегион, Нижневартовск, Когалым, Ноябрьск, Ханты-Мансийск, Горноправдинск, с.Ярково, Стрежевой, Покачи.</td>
                </tr>
                <tr>
                    <td>Пятница</td>
                    <td>Серов, Краснотурьинск, Волчанск, Карпинск, Североуральск, Ивдель,</td>
                </tr>
                <tr>
                    <td>Суббота</td>
                    <td>Тобольск</td>
                </tr>
                <tr>
                    <td>Воскресенье-Понедельник</td>
                    <td>Ханты-Мансийск, Нефтеюганск, п.Пойковский, п. Салым, Сургут, Пыть-ях, Лангепас, Мегион, Нижневартовск, Радужный, Когалым, Ноябрьск, Вынгапур, Муровленко, Губкинский, Тарко-Сале, Новый Уренгой, Нягань, Приобъе, п.Талинка, Белоярский, Октябрьский, Андра, Стрежевой, Федоровский, Лянтор, Покачи, Горноправдинск.</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>