@{
    ViewData["Title"] = "Как купить?";
}

<div class="container my-5">
    <h1 class="mb-4">Как купить?</h1>

    <h2 class="h5">1. Регистрация нового покупателя</h2>
    <p>
        Если Вы оформляете заказ в интернет-магазине впервые, то прежде Вам необходимо пройти краткую регистрацию,
        перейдя во вкладку «Войти / Регистрация» - «Зарегистрироваться». Обязательно запомните Ваш логин (электронную почту) и пароль –
        они понадобятся для дальнейшего входа и создания заказов. В дальнейшем, при необходимости, вы сможете поменять некоторые данные
        в «Личном кабинете».
    </p>

    <h2 class="h5">2. Авторизация покупателя</h2>
    <p>
        Если Вы повторно оформляете заказ в интернет-магазине, то Вам необходимо только авторизоваться. Для этого надо ввести
        в форму для авторизации Ваш логин и пароль.
    </p>

    <h2 class="h5">3. Чтобы оформить заказ:</h2>
    <ul>
        <li>Найдите товары, используя «Поиск на сайте», либо в разделе каталога выберите интересующие Вас товары и затем добавьте их в корзину, при желании указав необходимое количество.</li>
        <li>Сформируйте заказ, перейдя во вкладку «Корзина».</li>
    </ul>

    <h2 class="h5">4. Оплата товара</h2>
    <ul>
        <li>Перевод денег на банковский счет организации, согласно выставленному счету на оплату.</li>
        <li>Перевод денег на карточный счет.</li>
        <li>Расчет с курьером при доставке товаров с оформлением доверенности.</li>
        <li>Другие способы оплаты, по согласованию с Вашим менеджером.</li>
    </ul>

    <h2 class="h5">5. Доставка товара</h2>
    <p>Выберите способ доставки товара:</p>
    <ul>
        <li>Бесплатная доставка товара в пределах указанных маршрутов.</li>
        <li>Платная доставка любой транспортной компанией (возможна бесплатная доставка, условия уточняйте у менеджера***).</li>
        <li>Самовывоз со склада ООО МО «Новая больница».</li>
    </ul>
    <p class="text-muted small">*** — подробности уточняйте у вашего персонального менеджера.</p>
</div>