@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Сброс пароля";
}

<div class="customer_login mt-10">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="col-lg-6 col-md-6">
                <div class="account_form">
                    <h3>Установите новый пароль</h3>

                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </div>
                    }

                    <form method="post" asp-controller="Account" asp-action="ResetPassword">
                        @Html.AntiForgeryToken()
                        <input type="hidden" asp-for="Token" />

                        <div class="default-form-box mb-20">
                            <label asp-for="Password">Новый пароль <span>*</span></label>
                            <input asp-for="Password" type="password" class="form-control" placeholder="Введите новый пароль">
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="default-form-box mb-20">
                            <label asp-for="ConfirmPassword">Подтверждение <span>*</span></label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Повторите пароль">
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <div class="login_submit d-flex flex-column">
                            <button class="btn btn-primary btn-lg mb-3" type="submit">
                                <i class="fas fa-save me-2"></i>Сохранить новый пароль
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>